data/
neb_database/
*.cif
*.csv
checkpoints/
*.pt
*.pth
results/
__pycache__/
.gitignore
database/
old/
*.json
wandb/
logs/
active_learning_results/
MoNbTaW/
MoNbTaW.csv
MoNbTaWCr/
MoNbTaWCr.csv
*.err
*.out